<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShutdownController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ShutdownController.Properties.Settings>
            <setting name="IsShutdownSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRestartSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSleepSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastView" serializeAs="String">
                <value />
            </setting>
            <setting name="ClockSetHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockSetMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockSetSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerSetHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerSetMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerSetSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisablePushMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnClosingRunInBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadObservingActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadObservingActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObservingSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObservingSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetworkInterface" serializeAs="String">
                <value />
            </setting>
        </ShutdownController.Properties.Settings>
    </userSettings>
</configuration>